:root {
    --font-color: hsla(54, 82%, 45%, 0.993);
    --intro-font-color: rgb(223, 218, 218);
    --intro-font-color-accent: rgb(248, 245, 245);
    --font-family: -apple-system, Roboto, 'Helvetica Neue', 'Noto Sans', system-ui, "Liberation Sans", Arial, sans-serif;
}

body {

    box-sizing: border-box;
    background-color: #272a2d;
    margin: 0;

    /*     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
 */
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
}

/* common styles area */
.projects__projects-container {

    border-radius: 20px;
    padding: 20px 30px;
}

/* naviation-bar section */
.navigation-bar {

    background-color: #202024;
    height: 10vh;
    padding: 16px 38px;
    font-size: 20px;
    font-weight: 900;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-bar__left-links,
.navigation-bar__right-links {

    display: flex;
}

.navigation-bar__left-links {

    font-size: 48px;
}

.navigation-bar li,
.contact li {

    list-style: none;
    margin: 0;
    padding: 0;
}

.navgiation-bar__nav-sites {

    margin: 0;
    padding: 0;

    display: flex;
    gap: 30px;
}

.navigation-bar a,
.contact a {

    text-decoration: none;
    color: var(--font-color);
}

/* Introduction Section */
.intro {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    */
    gap: 10px;
    padding: 100px 100px;
    color: var(--intro-font-color);

}

.intro__intro-container {

    max-width: 600px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.intro__image img {
    border-radius: 50%;
}

.intro__heading {
    font-size: 1.5rem;
    font-weight: 550;
}

.intro__topic-sentence {
    font-size: 2rem;
    font-weight: 900;
    color: var(--intro-font-color-accent);
}

.intro__quote {
    margin: 1rem 0 0;
}

h1 {

    padding: 0;
    margin: 0;
}

p {

    padding: 0;
    margin: 0;
}

.tect-stack {
    max-width: 400px;
}

/* Projects Section */

img {
    max-width: 340px;
    height: auto;
    border-radius: 10px;
}

.projects {

    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 100px;
}

.projects__projects-container {

    background-color: rgb(247, 247, 247);
    width: 800px;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projects__projects-container h1 {
    margin: 0;
    padding: 0;
}

.projects__project {

    background-color: lavender;
    padding: 10px;
    border-radius: 15px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.projects__project-right-side {

    max-width: 300px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.projects__project-title {

    font-size: 32px;
    font-weight: bold;
    border: 5px solid black;
    padding: 0px 40px 0px 5px;
}

.projects__project-description {

    text-align: start;
}

.projects__project-description ul {
    margin: 0;
}

.projects__project-github {

    margin: 20px;
    align-self: center;
}

.projects__project-github a {

    padding: 5px;
    border: 3px solid black;
    background-color: white;
    color: black;
    box-shadow: -1px 3px rgb(63, 63, 63);
    text-decoration: none;
}

/* Footer Section */
footer {

    display: flex;
    justify-content: center;
    background-color: #202024;
    color: rgb(223, 218, 218);
}

.contact a {
    color: rgb(223, 218, 218);
}

.contact__contact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px;
}

.contact__contact-box ul {
    display: flex;
    padding: 0;
    gap: 3rem;
}

.contact__contact-box ul img {
    height: 5rem;
    width: auto;
}