:root {
    --font-color: hsla(197, 93%, 63%, 0.993);
    /*hsla(54, 82%, 45%, 0.993);*/
    --intro-font-color: rgb(223, 218, 218);
    --intro-font-color-accent: rgb(248, 245, 245);
    --font-family: -apple-system, Roboto, 'Helvetica Neue', 'Noto Sans', system-ui, "Liberation Sans", Arial, sans-serif;
}

body {

    box-sizing: border-box;
    background-color: rgb(242, 239, 237);
    /*#272a2d*/
    margin: 0;

    /*     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
 */
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
}

/* common styles area */
.projects__projects-container {

    border-radius: 20px;
    padding: 20px 30px;
}

/* naviation-bar section */
.navigation-bar {

    background-color: #202024;
    min-height: 4rem;
    padding: 1rem 2rem;
    font-size: 20px;
    font-weight: 900;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 320px) {
    .navigation-bar {

        background-color: #202024;
        min-height: 4rem;

        padding: 2rem 2rem;
        font-size: 20px;
        font-weight: 900;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.navigation-bar__left-links,
.navigation-bar__right-links {

    display: flex;
}

.navigation-bar__left-links {

    font-size: 3.5rem;
}

.navigation-bar li,
.contact li {

    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 425px) {
    .navgiation-bar__nav-sites {

        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

@media screen and (max-width: 425px) {
    .navgiation-bar__nav-sites {

        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

.navigation-bar a,
.contact a {

    text-decoration: none;
    color: var(--font-color);
}

/* Introduction Section */
.intro {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0.5rem;
}

@media screen and (min-width:900px) {
    .intro {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 6rem;
    }

}

@media screen and (max-width:900px) {
    .intro {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
    }

}

@media screen and (max-width:900px) {

    .intro__intro-container {

        max-width: 600px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 1rem;
    }

    .intro__image img {
        border-radius: 50%;
        padding: 1rem;
        justify-self: center;
    }
}

@media screen and (min-width:900px) {

    .intro__intro-container {

        max-width: 600px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    .intro__image img {
        border-radius: 50%;
    }
}

.intro__heading {
    font-size: 1.8rem;
    margin-bottom: 0.05em;
}

.intro__topic-sentence {
    background-color: rgb(71, 71, 71);
    border: 0.2em rgb(20, 20, 20) solid;
    padding: 1em;
    border-radius: 0.5em;
    font-size: 1.3rem;
    font-weight: 900;
    line-height: 1.2em;
    color: black;
}

.intro__quote {
    margin: 0.5rem 0 0;
}

/* Code section styles*/
.functions {
    color: hsla(49, 94%, 46%, 0.993);
}

.strings {
    color: var(--font-color);
}

.parantheses {
    color: hsla(273, 74%, 64%, 0.993);
}

h1 {

    padding: 0;
    margin: 0;
}

.intro__heading>strong {
    color: hsla(197, 57%, 41%, 0.993);
    font-size: 1.5em;
}

p {

    padding: 0;
    margin: 0;
}

.tect-stack {
    max-width: 400px;
}

/* Projects Section */

@media screen and (min-width: 320px) {
    img {
        max-width: 10rem;
        height: auto;
        border-radius: 10px;
    }

}

@media screen and (min-width: 320px) {

    .intro-logo {
        max-width: 10rem;
        height: auto;
        border-radius: 10px;
    }
}

@media screen and (min-width: 425px) {

    .intro-logo {
        max-width: 20rem;
        height: auto;
        border-radius: 10px;
    }
}

.projects {

    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 100px;
}

.projects__projects-container {

    background-color: var(--font-color);
    width: 600px;
    border-top: hsla(197, 57%, 41%, 0.993) 0.4em solid;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projects__projects-container h1 {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 600px) {

    .projects__project {

        background-color: lavender;
        padding: 10px;
        border-radius: 15px;

        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

@media screen and (max-width: 600px) {

    .projects__project {

        background-color: lavender;
        padding: 10px;
        border-radius: 15px;

        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (min-width: 600px) {

    .projects__project-right-side {

        max-width: 300px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 600px) {

    .projects__project-right-side {

        max-width: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.projects__project-title {

    font-size: 32px;
    font-weight: bold;
    border: 5px solid black;
    padding: 0 40px 0 5px;
    margin-bottom: 1rem;
}

.projects__project-description {

    text-align: start;
}

.desc+p {
    margin-bottom: 1rem;
}

.tools {
    margin-bottom: 1rem;
}

.projects__project-description ul {
    margin: 0;
}

.projects__project-github {

    margin: 20px;
    align-self: center;
}

.projects__project-github a {

    padding: 5px;
    border: 3px solid black;
    background-color: white;
    color: black;
    box-shadow: -1px 3px rgb(63, 63, 63);
    text-decoration: none;
}

/* Footer Section */
footer {

    display: flex;
    justify-content: center;
    background-color: #202024;
    color: rgb(223, 218, 218);
}

.contact a {
    color: rgb(223, 218, 218);
}

.contact__contact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px;
}

.contact__contact-box ul {
    display: flex;
    padding: 0;
    gap: 3rem;
}

@media screen and (min-width: 425px) {

    .contact__contact-box ul img {
        height: 5rem;
        width: auto;
    }
}

@media screen and (max-width: 425px) {

    .contact__contact-box ul img {
        height: 3rem;
        width: auto;
    }
}