<footer class="contact" id="contact">
    <div class="contact__contact-box">
        <div class="contact__contact-heading">
            <h2>Contact</h2>
        </div>
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/ryan-cooper-dz33" target="_blank">
                    <img src="./img/LI-In-Bug.png" class="footer-logos" alt="Image of LinkedIn icon">
                </a>
            </li>
            <li>
                <a href="https://github.com/AS-Coope" target="_blank">
                    <img src="./img/github-mark-white.png" class="footer-logos" alt="Image of Github icon">
                </a>
            </li>
        </ul>
    </div>
</footer>