<footer class="contact" id="contact">
    <div class="contact__contact-box">
        <div class="contact__contact-heading">
            <h2>Contact</h2>
        </div>
        <ul>
            {% for image in site.data.footer-images %}
            <li>
                <a href="{{ image.link }}" target="_blank">
                    <img src="{{ image.image }}" class="footer-logos" alt="{{ image.alt }}">
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</footer>